version: '3.8'

services:
  # --- Servicio Jenkins ---
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins_custom
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - sonarqube
    networks:
      - devops_net

  # --- Servicio SonarQube ---
  sonarqube:
    image: sonarqube:25.9.0.112764-community
    container_name: sonarqube_server
    depends_on:
      - db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - ./base_sonar/properties:/opt/sonarqube/properties
      
    ports:
      - "9000:9000"
    networks:
      - devops_net

  # --- Base de Datos ---
  db:
    image: postgres:12
    container_name: sonar_db
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - devops_net

volumes:
  jenkins_home:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data:

networks:
  devops_net:
    driver: bridge